body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


/******************** CONTAINER 1 ********************/

#container-1 {
    width: 100%;
    background-color: #f0f2f4;
    /* padding: 10px 20px; */
}

#con1-div1 {
    display: grid;
    /* margin-top: 20px; */
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    row-gap: 20px;
    padding: 20px;
}

#con1-div1-left {
    width: 95%;
    height: 100%;
    background-color: #fff;
    border: 1px solid #c5cbd5;
    position: relative;
}

#con1-div1-left>img {
    width: 95%;
    height: 100%;
    object-fit: cover;
}

#con1-div1-left>div {
    width: 92%;
    position: absolute;
    top: 2%;
    left: 8%;
    line-height: 12px;
}

#con1-div1-left>div>h2 {
    font-size: 40px;
    font-weight: 700;
}

#con1-div1-left>div>p {
    font-size: 15px;
}

#con1-div1-left>div>button {
    padding: 7px 10px;
    border: none;
    border-radius: 5px;
    color: white;
    background: #0046BE;
    cursor: pointer;
    font-weight: 500;
}

#con1-div1-left>div>button:hover {
    background-color: rgb(18, 18, 102);
}

#con1-div1-right {
    width: 100%;
}

#con1-div1-right-top {
    border: 1px solid #c5cbd5;
    background-color: #fff;
}

#con1-div1-right-top>h3 {
    font-size: 18px;
    font-weight: 500;
    margin: 8px 0px 0px 20px;
}

#con1-div1-right-top>div {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    column-gap: 20px;
    padding: 10px 23px;
    margin-bottom: 12px;
}

.box1 {
    display: block;
    cursor: pointer;
}

.box1>img {
    width: 100%;
}

.box1>a {
    overflow: hidden;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    font-size: 12px;
    text-decoration: none;
}

.box1>a:hover {
    color: black;
    text-decoration: underline;
}

#con1-div1-right-down {
    /* border: 1px solid red; */
    width: 100%;
    height: 330px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    column-gap: 20px;
    margin-top: 20px;
}

#con1-div1-right-down-left {
    height: 100%;
    border: 1px solid #c5cbd5;
    background-color: #fff;
    font-weight: 500;
}

#con1-div1-right-down-left>div {
    margin: 20px 0px 0px 20px;
}

#con1-div1-right-down-left>div>a {
    text-decoration: none;
    background-color: #0046BE;
    padding: 5px 10px;
}

#yellow {
    color: yellow;
}

#white {
    color: white;
}

#con1-div1-right-down-left>img {
    width: 70%;
    margin: 45px 55px
}

#con1-div1-right-down-left>a {
    text-decoration: none;
    margin-left: 20px;
    font-size: 15px;
    color: #0046BE;
    font-weight: 400;
}

#con1-div1-right-down-left>a:hover {
    color: black;
    text-decoration: underline;
}

#con1-div1-right-down-right {
    height: 100%;
    border: 1px solid #c5cbd5;
    background-color: #fff;
}

#con1-div1-right-down-right>div>a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

#con1-div1-right-down-right>div {
    margin: 20px 0px 0px 20px;
}

#con1-div1-right-down-right>div>a>span {
    color: white;
    background-color: red;
    padding: 4px 6px;
}

#con1-div1-right-down-right>img {
    width: 33%;
    margin: 10px 0px 0px 130px;
}

#con1-div1-right-down-right>p {
    line-height: 5px;
    color: #0046be;
    cursor: pointer;
    font-size: 14px;
    margin-left: 20px;
}

#con1-div1-right-down-right>p:hover {
    color: black;
    text-decoration: underline;
}


/******************** CONTAINER 2 ********************/

#container-2 {
    /* border: 1px solid red; */
    width: 97%;
    margin: auto;
}

#con-div1 {
    width: 100%;
    border-bottom: 1px solid #c5cbd5;
}

#con-div1>button {
    padding: 7px 0px;
    border: none;
    border-bottom: 3px solid black;
    background-color: transparent;
    font-size: 16px;
    font-weight: 600;
}