body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


/******************** CONTAINER 1 ********************/

#container-1 {
    width: 100%;
    background-color: #f0f2f4;
    /* padding: 10px 20px; */
}

#con1-div1 {
    display: grid;
    /* margin-top: 20px; */
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    row-gap: 20px;
    padding: 20px;
}

#con1-div1-left {
    width: 95%;
    height: 100%;
    background-color: #fff;
    border: 1px solid #c5cbd5;
    position: relative;
}

#con1-div1-left>img {
    width: 95%;
    height: 100%;
    object-fit: cover;
}

#con1-div1-left>div {
    width: 92%;
    position: absolute;
    top: 2%;
    left: 8%;
    line-height: 12px;
}

#con1-div1-left>div>h2 {
    font-size: 40px;
    font-weight: 700;
}

#con1-div1-left>div>p {
    font-size: 15px;
}

#con1-div1-left>div>button {
    padding: 7px 10px;
    border: none;
    border-radius: 5px;
    color: white;
    background: #0046BE;
    cursor: pointer;
    font-weight: 500;
}

#con1-div1-left>div>button:hover {
    background-color: rgb(18, 18, 102);
}

#con1-div1-right {
    width: 100%;
}

#con1-div1-right-top {
    border: 1px solid #c5cbd5;
    background-color: #fff;
}

#con1-div1-right-top>h3 {
    font-size: 18px;
    font-weight: 500;
    margin: 8px 0px 0px 20px;
}

#con1-div1-right-top>div {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    column-gap: 20px;
    padding: 10px 23px;
    margin-bottom: 12px;
}

.box1 {
    display: block;
    cursor: pointer;
}

.box1>img {
    width: 100%;
}

.box1>a {
    overflow: hidden;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    font-size: 12px;
    text-decoration: none;
}

.box1>a:hover {
    color: black;
    text-decoration: underline;
}

#con1-div1-right-down {
    /* border: 1px solid red; */
    width: 100%;
    height: 330px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    column-gap: 20px;
    margin-top: 20px;
}

#con1-div1-right-down-left {
    height: 100%;
    border: 1px solid #c5cbd5;
    background-color: #fff;
    font-weight: 500;
}

#con1-div1-right-down-left>div {
    margin: 20px 0px 0px 20px;
}

#con1-div1-right-down-left>div>a {
    text-decoration: none;
    background-color: #0046BE;
    padding: 5px 10px;
}

#yellow {
    color: yellow;
}

#white {
    color: white;
}

#con1-div1-right-down-left>img {
    width: 70%;
    margin: 45px 55px
}

#con1-div1-right-down-left>a {
    text-decoration: none;
    margin-left: 20px;
    font-size: 15px;
    color: #0046BE;
    font-weight: 400;
}

#con1-div1-right-down-left>a:hover {
    color: black;
    text-decoration: underline;
}

#con1-div1-right-down-right {
    height: 100%;
    border: 1px solid #c5cbd5;
    background-color: #fff;
}

#con1-div1-right-down-right>div>a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

#con1-div1-right-down-right>div {
    margin: 20px 0px 0px 20px;
}

#con1-div1-right-down-right>div>a>span {
    color: white;
    background-color: red;
    padding: 4px 6px;
}

#con1-div1-right-down-right>img {
    width: 33%;
    margin: 10px 0px 0px 130px;
}

#con1-div1-right-down-right>p {
    line-height: 5px;
    color: #0046be;
    cursor: pointer;
    font-size: 14px;
    margin-left: 20px;
}

#con1-div1-right-down-right>p:hover {
    color: black;
    text-decoration: underline;
}


/******************** CONTAINER 2 ********************/

#container-2 {
    /* border: 1px solid red; */
    width: 97%;
    margin: auto;
}

#con-div1 {
    width: 100%;
    border-bottom: 1px solid #c5cbd5;
}

#con-div1>button {
    padding: 7px 0px;
    border: none;
    border-bottom: 3px solid black;
    background-color: transparent;
    font-size: 16px;
    font-weight: 600;
}

#con2-div2 {
    width: 100%;
    margin: auto;
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    gap: 20px;
}

.con2-div2-div1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #c5cbd5;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
}

.con2-div2-div1>div {
    align-items: center;
    display: flex;
    height: 130px;
    justify-content: center;
    margin: 0 0 2rem;
}

.con2-div2-div1>div>img {
    height: auto;
    max-height: 100%;
    max-width: 100%;
    width: auto;
}

.con2-div2-div1>span {
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    font-size: 13px;
    color: #0046BE;
}

.con2-div2-div1>span:hover {
    color: #01235e;
    text-decoration: underline;
}


/******************** CONTAINER 3 ********************/

#container-3 {
    /* border: 1px solid red; */
    width: 97%;
    margin: auto;
    margin-top: 50px;
}

#container-3>img {
    width: 100%;
}


/******************** CONTAINER 4 ********************/

#container-4 {
    width: 97%;
    margin: auto;
}

#con4-div1 {
    width: 100%;
    border-bottom: 1px solid #c5cbd5;
}

#con4-div1>h2 {
    font-size: 20px;
}

#con4-div2 {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
    gap: 35px;
    margin-top: 40px;
}

.con4-div2-div {
    display: flex;
    flex-direction: column;
    gap: 20px;
    cursor: pointer;
}

.con4-div2-div-div1 {
    height: 136px;
    max-width: 200px;
}

.con4-div2-div>div>img {
    max-width: 200px;
    max-height: 136px;
}

.con4-div2-div>span {
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    font-size: 13px;
    color: #0046BE;
}

.con4-div2-div>span:hover {
    color: #01235e;
}

.con4-div2-div:hover {
    text-decoration: underline;
}


/******************** CONTAINER 5 ********************/

#container-5 {
    width: 97%;
    margin: auto;
    margin-top: 90px;
}

#con5-div1 {
    width: 100%;
    border-bottom: 1px solid #c5cbd5;
}

#con5-div1>h2 {
    font-size: 20px;
    font-weight: 600;
    line-height: 2px;
}


/* .progress-container {
    width: 100%;
    height: 8px;
    background: #ccc;
}

.progress-bar {
    height: 8px;
    background: #04AA6D;
    width: 0%;
} */

#con5-div2 {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    margin-top: 40px;
}

.con5-div2-div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: left;
    align-items: center;
    cursor: pointer;
    padding: 0px 30px;
}

.con5-div2-divv {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: left;
    align-items: center;
    border-left: 1px solid #c5cbd5;
    border-right: 1px solid #c5cbd5;
    cursor: pointer;
    padding: 0px 30px;
}

.con5-div2-div-div1 {
    max-width: 370px;
}

.con5-div2-div-div1>img {
    width: 100%;
    height: auto;
}

.con5-div2-div-div2>h2 {
    font-size: 20px;
    font-weight: 600;
    color: #0457c8;
    line-height: 20px;
}

.con5-div2-div-div2>h2:hover {
    text-decoration: underline;
    color: #01235e;
}

.con5-div2-div-div2>p {
    font-size: 13px;
}

#con5-div3 {
    width: 97%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 30px;
    margin-top: 50px;
}

.con5-div3-div {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: center;
    border: 1px solid #c5cbd5;
    padding: 7px 0px;
    background-color: #f0f2f4;
}

.con5-div3-div-div2 {
    display: flex;
    flex-direction: column;
    text-align: left;
    line-height: 10px;
    margin-block-end: auto;
}

.con5-div3-div-div2>p {
    font-size: 20px;
    font-weight: 600;
}

.con5-div3-div-div2>a {
    color: #0046BE;
    text-decoration: none;
    font-size: 14px;
}

.con5-div3-div-div2>a:hover {
    color: #01235e;
    text-decoration: underline;
}

#con5-div4 {
    width: 97%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 20px;
    margin-top: 50px;
    align-items: center;
}

.con5-div4-div {
    display: flex;
    flex-direction: row;
    gap: 10px;
    text-align: left;
    align-items: center;
    cursor: pointer;
    padding: 5px 30px;
}

.con5-div4-divv {
    display: flex;
    flex-direction: row;
    gap: 10px;
    text-align: left;
    align-items: center;
    border-left: 1px solid #c5cbd5;
    border-right: 1px solid #c5cbd5;
    cursor: pointer;
    padding: 5px 30px;
}

.con5-div4-div-div1 {
    width: 80px;
    margin-right: 10px;
}

.con5-div4-div-div1>img {
    width: 100%;
}

.con5-div4-div-div2 {
    display: flex;
    flex-direction: column;
    text-align: left;
    line-height: 0px;
}

.con5-div4-div-div2>h2 {
    font-size: 20px;
    font-weight: 600;
}

.con5-div4-div-div2>p {
    font-size: 13px;
}

#con5-div5 {
    width: 97%;
    margin: auto;
}

#con5-div5-div1 {
    width: 100%;
    border-bottom: 1px solid #c5cbd5;
    line-height: normal;
    margin-top: 30px;
}

#con5-div5-div1>h2 {
    font-size: 20px;
    font-weight: 600;
}

#con5-div5-div2 {
    width: 97%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
    gap: 40px;
    margin-top: 40px;
}

.con5-div5-div2-div {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    cursor: pointer;
}

.con5-div5-div2-div>div {
    height: 136px;
    max-width: 200px;
}

.con5-div5-div2-div>div>img {
    max-width: 200px;
    max-height: 136px;
}

.con5-div5-div2-div>span {
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    font-size: 13px;
    color: #0046BE;
}

.con5-div5-div2-div>span:hover {
    color: #01235e;
    text-decoration: underline;
}

.dollar {
    font-size: 20px;
    font-weight: 600;
}


/******************** CONTAINER 6 ********************/

#container-6 {
    width: 97%;
    margin: auto;
    margin-top: 50px;
}

#con6-div1 {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 30px;
}

.con6-div1-div1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 30px;
}

.con6-div1-div>div {
    min-width: 176px;
    min-height: 176px;
}

.con6-div1-div>div>img {
    width: 100%;
    object-fit: cover;
}

.con6-div1 {
    background-color: #E0E6EF;
    border: 1px solid #E0E6EF;
}

.con6-div2 {
    background-color: white;
    border: 1px solid #c5cbd5;
}

.con6-div3 {
    background-color: #F0F2F4;
    border: 1px solid #F0F2F4;
}

#con6-div1>div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    padding: 20px;
    border-radius: 5px;
}

.con6-div1-div>span {
    font-size: 13px;
    color: #0046BE;
}

.con6-div1-div>span:hover {
    color: #01235e;
    text-decoration: underline;
    /* cursor: pointer; */
}