body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

#navbar {
    width: 100%;
}


/********************`` FIXED NAVBAR ********************/

#top-nav {
    background-color: #0046be;
    width: 100%;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.block {
    padding: 15px 35px;
}

#menu-button {
    align-items: center;
    color: #fff;
    display: flex;
    font-weight: 500;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

#search {
    width: 40%;
    padding: 12px 10px;
    border-radius: 7px;
    border: none;
    margin-left: 37px;
}

#top-nav-right {
    display: flex;
    margin-left: 28%;
    justify-content: flex-end;
    gap: 20px;
}

#aiea {
    align-items: center;
    color: #fff;
    display: flex;
    font-weight: 500;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    gap: 5px;
    font-weight: 600;
}

#cart {
    align-items: center;
    color: #fff;
    display: flex;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    gap: 5px;
    font-weight: 600;
}

#cart:hover {
    text-decoration: underline;
}

#horizontal-line {
    width: 100%;
    height: 1px;
    margin-top: 77px;
    background: #4976E6;
}

#down-nav {
    background-color: #0046be;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 12px 0px;
}

#down-nav a {
    text-decoration: none;
    color: #fff;
}

#down-nav-left {
    display: flex;
    text-align: center;
    font-size: 12px;
    font-weight: 300;
    margin-left: 30px;
}

#down-nav-right {
    display: flex;
    text-align: center;
    font-size: 13px;
    font-weight: 300;
    margin-left: 207px;
}

#down-nav-left>a {
    margin-right: 23px;
}

#down-nav-right>a {
    margin-right: 30px;
    font-weight: 500;
}

.dropbtn {
    align-items: center;
    color: #fff;
    display: flex;
    background: none;
    border: none;
    font-size: 13px;
    cursor: pointer;
    gap: 5px;
    font-weight: 600;
    margin-right: 27px;
}

#down-nav-left>a:hover {
    text-decoration: underline;
}


/******************** DROP MENU ********************/

.dropdown {
    position: absolute;
    top: 122px;
    right: 17%;
    width: 330px;
    background-color: #c5cbd5;
    border: 1px solid #c5cbd5;
}

.hide {
    display: none;
}

.sub-menu {
    width: 85%;
    margin: auto;
    text-align: center;
}

.sub-menu a {
    display: block;
    color: #fff;
}

.sub-menu>p {
    font-size: 12px;
}

#sign-in-btn {
    padding: 7px 110px;
    border-radius: 5px;
    border: none;
    background: #0046BE;
    color: white;
    font-weight: 600;
    font-size: 13px;
}

#sign-in-btn:hover {
    background-color: rgb(18, 18, 102);
    cursor: pointer;
}

#sign-up-btn {
    margin-top: 10px;
    padding: 7px 84px;
    border-radius: 5px;
    border: 1px solid #0046BE;
    background: white;
    color: #0046BE;
    font-weight: 600;
    font-size: 13px;
    margin-bottom: 20px;
}

#sign-up-btn:hover {
    background-color: rgb(18, 18, 102);
    color: white;
    cursor: pointer;
}


/******************** CONTAINER 1 ********************/

#container-1 {
    width: 100%;
    background-color: #f0f2f4;
    /* padding: 10px 20px; */
}

#con1-div1 {
    display: grid;
    /* margin-top: 20px; */
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    row-gap: 20px;
    padding: 20px;
}

#con1-div1-left {
    width: 95%;
    height: 100%;
    background-color: #fff;
    border: 1px solid #c5cbd5;
    position: relative;
}

#con1-div1-left>img {
    width: 95%;
    height: 100%;
    object-fit: cover;
}

#con1-div1-left>div {
    width: 92%;
    position: absolute;
    top: 2%;
    left: 8%;
    line-height: 12px;
}

#con1-div1-left>div>h2 {
    font-size: 40px;
    font-weight: 700;
}

#con1-div1-left>div>p {
    font-size: 15px;
}

#con1-div1-left>div>button {
    padding: 7px 10px;
    border: none;
    border-radius: 5px;
    color: white;
    background: #0046BE;
    cursor: pointer;
    font-weight: 500;
}

#con1-div1-left>div>button:hover {
    background-color: rgb(18, 18, 102);
}

#con1-div1-right {
    width: 100%;
}

#con1-div1-right-top {
    border: 1px solid #c5cbd5;
    background-color: #fff;
}

#con1-div1-right-top>h3 {
    font-size: 18px;
    font-weight: 500;
    margin: 8px 0px 0px 20px;
}

#con1-div1-right-top>div {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    column-gap: 20px;
    padding: 10px 23px;
    margin-bottom: 12px;
}

.box1 {
    display: block;
    cursor: pointer;
}

.box1>img {
    width: 100%;
}

.box1>a {
    overflow: hidden;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    font-size: 12px;
    text-decoration: none;
}

.box1>a:hover {
    color: black;
    text-decoration: underline;
}

#con1-div1-right-down {
    /* border: 1px solid red; */
    width: 100%;
    height: 330px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    column-gap: 20px;
    margin-top: 20px;
}

#con1-div1-right-down-left {
    height: 100%;
    border: 1px solid #c5cbd5;
    background-color: #fff;
    font-weight: 500;
}

#con1-div1-right-down-left>div {
    margin: 20px 0px 0px 20px;
}

#con1-div1-right-down-left>div>a {
    text-decoration: none;
    background-color: #0046BE;
    padding: 5px 10px;
}

#yellow {
    color: yellow;
}

#white {
    color: white;
}

#con1-div1-right-down-left>img {
    width: 70%;
    margin: 45px 55px
}

#con1-div1-right-down-left>a {
    text-decoration: none;
    margin-left: 20px;
    font-size: 15px;
    color: #0046BE;
    font-weight: 400;
}

#con1-div1-right-down-left>a:hover {
    color: black;
    text-decoration: underline;
}

#con1-div1-right-down-right {
    height: 100%;
    border: 1px solid #c5cbd5;
    background-color: #fff;
}

#con1-div1-right-down-right>div>a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

#con1-div1-right-down-right>div {
    margin: 20px 0px 0px 20px;
}

#con1-div1-right-down-right>div>a>span {
    color: white;
    background-color: red;
    padding: 4px 6px;
}

#con1-div1-right-down-right>img {
    width: 33%;
    margin: 10px 0px 0px 130px;
}

#con1-div1-right-down-right>p {
    line-height: 5px;
    color: #0046be;
    cursor: pointer;
    font-size: 14px;
    margin-left: 20px;
}

#con1-div1-right-down-right>p:hover {
    color: black;
    text-decoration: underline;
}


/******************** FOOTER ********************/

#footer {
    width: 100%;
    margin-top: 100px;
    background-color: #F0F2F4;
}

#foot-top {
    width: 92%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    padding: 40px 40px 40px 40px;
}

.foot-top-div {
    display: block;
    text-align: center;
    align-items: center;
}

.foot-top-div>a {
    text-decoration: none;
    font-size: 12px;
    font-weight: 600;
    color: #0046BE;
}

.foot-top-div>a>div {
    display: flex;
    align-items: center;
    height: 55px;
    width: 55px;
    margin: auto;
}

.foot-top-div>a>p:hover {
    color: black;
    text-decoration: underline;
}

#footer-hr-1 {
    width: 90%;
    margin: auto;
    margin-bottom: 20px;
}